.title {
  font-size: 0.51851852rem;
  line-height: 1.66666667rem;
  padding-left: 0.49074074rem;
  color: #000;
}
body {
  padding-top: 1.22222222rem;
}
.havaPlay {
  padding-bottom: 1.9537037rem;
}
