@rem:108rem;
.music-play-small{
    width: 10rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    .bar-tool{
        height: 3px;
        background-color: #00a8ff;
    }
    .song-pic{
        img{
            width: 150/@rem;
            height:150/@rem;
        }
    }
}