@rem:108rem;
.home-content{
    background-color: #f7f7f7;
}
.home-today{
    background-color: #fff;
}
.home-today-title{
    font-size:56/@rem;
    line-height: 201/@rem;
    text-indent: 53/@rem;
    color: #000;
}
.home-today-list{
    padding-left: 54/@rem;
    margin-bottom: 27/@rem;
}
.home-today-item{
    float: left;
    margin-right: 36/@rem;
    margin-bottom: 55/@rem;
    width: 300/@rem;
}
.home-today-item-pic{
    position: relative;
    img{
        width: 300/@rem;
    }
    .home-today-item-play{
        position: absolute;
        width: 84/@rem;
        height: 84/@rem;
        right: 12/@rem;
        bottom: 12/@rem;
        background: url('./../img/play.png') no-repeat;
        background-size: 84/@rem 84/@rem;
    }
    
}
.home-today-item-songname{
    font-size: 34/@rem;
    line-height: 71/@rem;
    color: #000;
}
