.singer-head {
  height: 500 108rem;
  background: #fff;
}
.singer-head img {
  display: block;
  width: 2.31481481rem;
  height: 2.31481481rem;
  border: none;
  border-radius: 1.15740741rem;
  margin: 0.69444444rem auto 0;
}
.singer-head span {
  display: block;
  height: 1.11111111rem;
  font-size: 0.46296296rem;
  color: #000;
  line-height: 1.11111111rem;
  text-align: center;
}
.ul-s {
  border-top: 1px solid #c1c1c1;
  margin: 0 0.46296296rem;
}
.singer-i-info {
  height: 1.5rem;
  font-size: 0.38888889rem;
  color: #000;
  line-height: 1.5rem;
  border-bottom: 1px solid #c1c1c1;
}
